:root {
    --primary-color: blue;
    --text-light: whitesmoke;
    --border-radius: 15px;
  }
  
  body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
  }
  
  .content {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
  }
  
  h3 {
    text-align: center;
  }
  
  .card {
    border: 1px solid black;
    padding: 10px;
    border-radius: var(--border-radius);
    transition: border-color 0.3s ease;
  }
  
  .card:hover {
    border-color: var(--primary-color);
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .hero {
    background: url(images/hero.jpg) no-repeat center/cover;
    opacity: 0.8;
    font-size: large;
    color: var(--text-light);
    padding: 150px 20px 200px;
  }
  
  .footer,
  .header {
    background-color: var(--primary-color);
    color: white;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .footer {
    text-align: center;
    padding: 10px;
  }
  
  .search {
    display: flex;
    gap: 5px;
  }
  
  .search input {
    width: 250px;
    border-radius: var(--border-radius);
  }
  
  ul {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
    color: inherit;
  }
  
  .tourist {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
  
  .text {
    padding-left: 235px;
    font-weight: bold;
    font-size: 40px;
  }
