body {
    margin:0;
}


footer {
    background-color: blue;
    text-align: center;
    padding: 10px;
}


.para {
    padding-left: 3%;
    padding-right: 30%;
    font-size: 20px;
}
h1{
    font-size:50px;
    padding-left:3%;
}

h2 {
    font-size:2.5em;
    padding-left:3%;
}

.header {
    background-color:blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.search {
    display: flex;
    gap: 5px;
}

ul {
    color: white;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.search input {
    width: 250px;
    border-radius:15px;
}

img {
    padding-left: 3%;
    width: 40%;
    height: 30%;
    object-fit: cover;
}

figcaption {
    padding-left: 20%;
}

a {
    text-decoration: none;
    color: white;
}